body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

div#tablero {
    background: #0096D8;
    border: #333 10px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin: 2em auto;
}

div#tablero>div {
    background-color: #EEE;
    background-image: url(icon.png);
    background-size: cover;
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

hr{
    margin-top: 90px;
}

.footer{
    font-size: .9em; 
    text-align: center;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: blue;
}
